@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{
    font-family: monospace;
    margin:0;
}
.nav{
    position: fixed;
    top:0;
    left:0;
    width:80%;
    padding:0 10%;
    border-bottom: 1px solid rgba(115, 114, 114, 0.2);
    display: flex;
    align-items: center;
    color:#eee;
    z-index: 11111111111111111;
}
.logo {
    padding: 10px;
    font-size: 32px;
    font-family: 'Great Vibes';
}
.nav ul{
    padding: 0;
    margin:0;
    list-style: none;
    margin-left:50px;
    display: flex;
    align-items: center;
}
.nav ul li{
    padding:0 50px;
    font-size: 15px;
}
.tofixed{
    position: fixed;
    top:0;
    color:#555;
    background-color: #ddd;
    animation:showfixed 1s ease-in-out 1 forwards

}
@keyframes showfixed{
    from{
        top:-100px;
    }
}
.banner{
    height:100vh;
    width:100%;
    position: relative;
    overflow: hidden;
}
.banner::before{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    filter:brightness(0.5);
    height:100%;
    background-image: url(anh-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
    z-index: -1;
    content:'';
}
.banner .title, .banner .description{
    position: absolute;
    right: 0%;
    transform: translate(-50%,-50%);
    color:#fff;
    font-size: 12vh;
    opacity: 0;
    font-family: 'Great Vibes', cursive;
    animation:showtitle 3s ease-in-out 3s 1 forwards;
    bottom: 0%;
    display: block;
    width: max-content;
    z-index: 2;
}
.banner .description{
    font-size: 5vh;
    /* font-family: auto; */
    overflow: hidden;
    white-space: nowrap;
    font-family: "Courier New", Courier, monospace;
    border-right: solid 10px green;
    font-size: 23px;
    animation: type-text forwards 4s, cursor-blink .6s infinite;
    animation-timing-function: steps(40);
    transform: translate(-50%,-50%);
    bottom: 25%;
    left: 50%;
    z-index: 2;
}
.banner img{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,10%);
    width: 500px;
    filter: brightness(25.9);
    opacity: 0;
    animation:totopimg ease-in-out 3s 1 forwards;
}
@keyframes totopimg{
    from{
        opacity: 0;
    }to{
        opacity: 1;
        filter: brightness(0.9);
    }
}
@keyframes showtitle{
    from{
        filter: blur(33px);
        left: 50%;
    }to{
        opacity: 1;
        filter: blur(0px);
        left: 50%;
    }
}
@keyframes type-text {
    0% {
      /* width: 0%; */
    }
    100% {
      width: max-content;
      opacity: 1;
      filter: blur(0px);
      transform: translate(-50%, -50%);
      right: 10%;
      bottom: 60%;
    }
}
@keyframes cursor-blink {
    0% {
        border-color: transparent;
    }

    100% {
        border-color: green;
    }
}
.banner::after{
    position: absolute;
    left:0;
    width:100%;
    height:10vh;
    bottom: -10px;
    background: url(https://livedemo00.template-help.com/wt_prod-20838/images/cloud-2.png) no-repeat;
    background-size: 100%;
    content:'';
    filter:brightness(0.87);
}
.container{
    min-height: 1500px;
    background-color: #ddd;
}
.intro{
    padding:20px;
    text-align: center;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro h2{
    font-size: 150px;
    padding:0;
    margin:30px 0;
    font-family: 'Great Vibes', cursive;
}
.intro div{
    font-size: 20px;
}
.travel{
    height: auto;
    width:80%;
    padding: 70px 10%;
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
.travel .title{
    padding-bottom:100px;
}
.travel .itemImg{
    width: 100%;
}
.travel .itemImg img{
    height: 400px;
    object-fit: cover;
    width: 95%;
}
.darkshow{
    width:80%;
    padding:150px 10%;
    height:100vh;
    background:#1f2538;
    text-align: center;
    color:#eee;
}
.darkshow .title{
    font-size: 40px;
    font-weight: bold;
    padding-bottom:80px;
    width:100%;
}
.darkshow .img{
    width:50%;
    position: relative;
    opacity: 0;
}
.darkshow.active .img{
    animation: showimgdarkshow 1s ease-in-out 1s 1 forwards;
}
.showtotop a {
    color: #fff;
}
@keyframes showimgdarkshow{
    from{
        opacity: 0;
        filter: blur(33px);
        transform: translate(150px);
    }to{
        opacity: 1;
        filter: blur(0);
        transform: translate(0);
    }
}
.darkshow .img img{
   width:50%;
   height:600px;
   object-fit: cover;
}
.darkshow .list{
    width:50%;
}
.contactItem{
    width: 88%;
    background-color: #161924;
    padding:40px 5%;
    margin: 0 2% 2% 0;
    text-align: left;
    height: 100%;
}
.contactItem .icon{
    width:max-content;
    background-color: blueviolet;
    padding:2px 10px;
    font-size: small;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contactItem .titleContact{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 50px;
}
.slug{
    color:#555;
}
.footer{
    background-color: #161924;
    width:100%;
    text-align: center;
    padding-top: 200px;
    display: block;
    color:#eee;
    overflow: hidden;
}
.footer .title{
    font-family: 'Great Vibes', cursive;
    font-size: 130px;
}
.footer ul{
    padding: 0;
    margin:0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30vh;
    border-top:1px solid rgba(115, 114, 114, 0.2);
}
.footer li{
    padding:30px 90px;
    font-size: 30px;
}

.showtotop, .zoomshow{
    opacity: 0;
}
.active .showtotop{
    animation:showtop 1s ease-in-out 1 forwards;
}
.active .zoomshow{
    animation:zoomshow 1s ease-in-out 1 forwards;
}
@keyframes zoomshow{
    from{
       transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes showtop{
    from{
        opacity: 0;
        transform: translate(0,100px);
    }
    to{
        opacity: 1;
        transform: translate(0,0);
    }
}
.delay-02{
    animation-delay: 0.2s!important;
}
.delay-04{
    animation-delay: 0.4s!important;
}
.delay-06{
    animation-delay: 0.6s!important;
}
.delay-08{
    animation-delay: 0.8s!important;
}
.delay-1{
    animation-delay: 1s!important;
}
.delay-12{
    animation-delay: 1.2s!important;
}
.delay-14{
    animation-delay: 1.4s!important;
}
.delay-16{
    animation-delay: 1.6s!important;
}
.delay-18{
    animation-delay: 1.8s!important;
}
.delay-2{
    animation-delay: 2s!important;
}
.delay-12{
    animation-delay: 1.2s!important;
}
.delay-14{
    animation-delay: 1.4s!important;
}
.delay-16{
    animation-delay: 1.6s!important;
}
.delay-18{
    animation-delay: 1.8s!important;
}

.content {
    display: flex;
    align-items: center;
}

.travel .content {
    display: block;
}

@media (max-width: 767px) {
    .banner::after {
        bottom: -66px;
    }
    .banner {
        height: 100vh;
    }
    @keyframes type-text {
        0% {
          /* width: 0%; */
        }
        100% {
          width: max-content;
          opacity: 1;
          filter: blur(0px);
          transform: translate(-50%, -50%);
          right: 10%;
          bottom: 75%;
        }
    }
    .banner .title {
        z-index: 2;
        font-size: 9vh;
    }
    .footer .title {
        font-family: 'Great Vibes', cursive;
        font-size: 50px;
    }

    .content {flex-direction: column;}
    .darkshow .img img {
        width: 100%;
        height: auto;
    }
    .darkshow.active .img, .darkshow .list {
        width: 100%; 
    }
    .darkshow .title {
        font-size: 24px;
        padding-bottom: 0;
    }
    .darkshow {
        width: 80%;
        padding: 44px 10%;
        height: auto;
    }
    .travel .title {
        padding-bottom: 20px;
    }
    .travel {
        width: 100%;
        padding: 10px 0;
    }
}